@import "../../style/abstracts/_all.scss";

:local(.form) {
   label {
      font-weight: 600;     
   }
   
   :local(.star) {
      width: 18px;
      height: 18px;
      margin-right: 2px;
      vertical-align: -3px;
   }

   :local(.trafficLight) {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: block;

      &.light-1 {
         background-color: #de0000;
      }

      &.light-2 {
         background-color: #ff9900;
      }

      &.light-3 {
         background-color: #009900;
      }
   }

   label {
      display: block;
      margin: 24px 0 14px;
      font-size: 1.2em;
   }
   :local(.comboInput) {
      display: inline-block;
      position: relative;
      border-radius: 0.25rem;

      &.fullWidth {
         display: block;
      }

      :local(svg.editIcon) {
         display: none;
         position: absolute;
         right: 0px;
         top: 0px;
         background-color: #ddd;
         height: 100%;
         width: 30px;
         padding: 6px;
      }

      &:hover {
         :local(svg.editIcon) {
            display: inline-block;
         }
      }
      &:focus-within {
         box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
         :local(svg.editIcon) {
            display: inline-block;
         }
         button {
            box-shadow: none;
         }
      }

      > input,
      > span {
         font-family: $default-font;
         font-weight: normal;
         display: block;
         &:focus + svg {
            display: inline-block;
         }
      }

      textarea {
        
         padding-right: 38px;
         &:focus {
            box-shadow: none;
         }
      }

      :local(.defaultSelect) {
         > button {
            min-width: 100px !important;
            &::after {
               display: none;
            }
         }

         > div {
            min-width: 100px !important;
         }
      }

      :local(.statusSelect) {
         > button {
            min-width: 200px !important;
            &::after {
               display: none;
            }
         }

         > div {
            min-width: 200px !important;
         }
      }

      :local(.trafficLightSelect) {
         > button {
            min-width: 150px !important;

            &::before {
               content: "";
               width: 16px;
               height: 16px;
               border-radius: 50%;
               display: inline-block;
               vertical-align: -2px;
               margin-right: 6px;
            }

            &[data-value="1"]::before {
               background-color: #de0000;
            }

            &[data-value="2"]::before {
               background-color: #ff9900;
            }

            &[data-value="3"]::before {
               background-color: #009900;
            }
         }

         > div > span {
            &::before {
               content: "";
               width: 16px;
               height: 16px;
               border-radius: 50%;
               display: inline-block;
               vertical-align: -2px;
               margin-right: 6px;
            }

            &:nth-child(1)::before {
               background-color: #de0000;
            }

            &:nth-child(2)::before {
               background-color: #ff9900;
            }

            &:nth-child(3)::before {
               background-color: #009900;
            }
         }
      }

      &:hover,
      &:focus {
         :local(.defaultSelect) {
            > button {
               &::after {
                  display: inline-block;
               }
            }
         }
      }
   }
   :local(.mdePreview) {
      border: 1px solid transparent;
      div {
         background: #fff;
         border: none;
         padding: 0;
      }
   }
   .editor-preview-full {
      position: relative;
   }
}
:local(.smallheader) {
   font-style: italic;
   margin-top: 16px;
}
:local(.introbox) {
   display: flex;
   flex-direction: column;
   :local(.imageprofile) {
      display: flex;
      justify-content: flex-end;
      padding-right: 100px;
      > img:first-of-type {
         width: 300px;
        
      }
   }
   
   :local(.textcontent) {
      white-space: pre-wrap;
   }
   :local(.textcontentbio) {
      white-space: pre-wrap;
      font-style: italic;
      text-align: center;
      margin-top: 40px;
      
      max-width: 350px;

   }
}
:local(.buttonGroup) {
   button {
      margin-right: 10px;
   }
}

:local(.visibl) {
   visibility: visible;
}

:local(.hiddn) {
   visibility: hidden;
}
:local(.flexradio) {
   display: flex;
   align-items: center;
   input[type="radio"] {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
      transform: scale(1.5);
   }
   label {
      max-width: 390px;
      margin: 10px;
      font-weight: normal;
      font-size: 1em;
   }
}
:local(.btnGroup) {
   display: flex;
   justify-content: space-between;
   margin-top: 20px; 
   align-items: flex-end;
      :local(.inlinetext) {
     width: 300px;
     margin-bottom: 20px;      
   }
}
:local(.flex) {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   column-gap: 32px;
  
   @media screen and (max-width: 600px) {
      flex-direction: column;
   }
   :local(.flex1) {
      flex: 1;
   }
   :local(.form) {
      flex: 1;
      &:not(:last-child) {
         margin-right: 16px;
      }
   }
   :local(button.form) {
      margin-bottom: 1rem;
      flex: none;
   }
}
:local(.flexbio) {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   column-gap: 32px;
   margin-top: 20px;
   @media screen and (max-width: 600px) {
      flex-direction: column;
   }
   :local(.form) {
      flex: 1;
      &:not(:last-child) {
         margin-right: 16px;
      }
   }
   :local(button.form) {
      margin-bottom: 1rem;
      flex: none;
   }
}
:local(.block) {
   margin: 20px 0;
}
:local(.metadata) {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   background-color: rgba(223,157,136,0.3);
   padding: 20px;
   margin: 20px -20px;
   max-height: 2000px;
   transition: all 0.3s ease-in-out;
   &.open {
      max-height: 90px;
      flex-wrap: nowrap;
      overflow: hidden;
   }

 }
 :local(.btnright) {
   display: flex;
   justify-content: flex-end;
 }
 :local(.metadatafirst) {
   display: flex;
   flex-direction: row-reverse;   
   padding: 20px;
   margin: 20px -20px;
   button {
      margin-right: -10px;
      margin-top: -30px;
      background-color: #E49371; 
      padding:  10px 20px;
      border: none;
      border-radius: 4px;
      &:hover {
         cursor: pointer;
         background-color: #fe5000;
      }
      &:active {
         background-color: red;
      }
   }

 }

:local(.inputs) {
   border: 1px solid red;
}
:local(.buffercontent) {
   border: 1px dotted red;
}
:local(.flexhorizontal) {
   display: flex;
   flex-direction: row;
   button {
      margin-right: 10px;
      margin-top: 23px;
      height: 25px;
      width: 60px;
      background-color: #E49371; 
      border: none;
      border-radius: 4px;
   }
}
:local(.screenshot) {
   height: auto;
   margin-top: 24px;
   max-width: 100%;
}
:local(.caption) {
   font-style: italic;
   font-size: .8em;   
   margin-top: 10px;
}
:local(.link) {
   &:hover {
      cursor: pointer;
   }
}
:local(.biocontainer) {
   display: flex;
   flex-direction: row;
   img {
      max-width: 50%;
      margin-top: 16px;
      margin-left: 16px;
   }
}
:local(.infotext) {
   font-style: italic;
   font-size: 1em;
   margin-bottom: 10px;
 }
 :local(.radioRow) {
   display: flex;
   flex-direction: row;
 }